
/* Style the links inside the navigation bar */
.UK-flag a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.UK-flag a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.UK-flag a.active {
  background-color: #04AA6D;
  color: white;
}

/* Right-aligned section inside the top navigation */
.UK-flag {
  float: right;
  position: absolute;
  top: 0;
    right: 0;
}

.top-row {
  display: flex;
  justify-content: center; /* Use 'flex-start' for left, 'flex-end' for right */
  gap: 10px;               /* Adds space between buttons */
  padding: 10px;           /* Adds space around the row */
}


.nav-button {
    display: inline-block; /* Essential for padding and width */
    padding: 20px 75px;
    background-color: rgb(36, 167, 152) ;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
 
 
 
 body {
        background-image: linear-gradient(Beige,LightGrey, Pink); 
    }

.Logo-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%; /* Optional: set a width smaller than the container */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
}   

.menu {
    font-family: sans-serif;
    font-size: 14px;
}

.menu-group-heading {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
}

.menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
}

.menu-item {
    display: flex;
}

.menu-item-image {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}

.menu-item-text {
    flex-grow: 1;
}

.menu-item-heading {
    display: flex;
}

.menu-item-name {
    
    width: 320px;
}

.menu-item-description {
 line-height: 1.6;
}

.menu-item {
    border: 2px solid black;
    border-radius: 15px;
    border-width: thick;
   
}


@media screen and (min-width: 992px) {
    .menu {
        font-size: 20px;
    }

    .menu-group {
        grid-template-columns: repeat(2, 1fr);
    }
}