/* Begin */

header {
    text-align: center;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.container-fluid {
    max-width: 100%;
    background-color: #54a49d;
    height: 47px;
}

.nav-link {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 14px 16px;
}

.nav-link:hover {
    background-color: #4e9e97;
}

#active {
    background-color: #69d6cd;
}

.navbar-nav {
    list-style-type: none;
    background-color: #206661;
    padding: 0;
    margin: 0;
}

.logo {
    background-color: #206661;
}

.nav-link {
    display: flex;
    justify-content: end;
}

span {
    color: yellowgreen; /*kleur kan nog aangepast worden*/
}

/*voor info.html*/
body {
  padding-bottom: 5em;
}

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  max-width: 550px;
  margin: auto;
  margin-top: 2em;
}

.sectionHeader {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: .5em;
}

.heading.sub-heading {
  margin-bottom: .5em;
  font-weight: bold;
}

.sub-heading{
  text-align: left;
}

.contactForm {
  display: grid;
  gap: 3em;
  margin-top: 3em;
}

.para {
  font-size: 1.1rem;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.para2 {
  text-align: left;
}

form{
  width: 90%;
}

.input{
  width: 95%;
  max-width: 700px;
  border: none;
  font-size: .9rem;
  padding: 1em;
  outline: none;
  margin-bottom: 1em;
  border-radius: 10px;
  border: 1px solid #c7c7c7;
}

.input:focus {
  border: 1px solid #88bde8;
}

.input::placeholder{
  text-transform: capitalize;
}

.submit{
  border: none;
  color: rgb(136, 135, 135);
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.map-container{
  position: relative;
  width: 100%;
  height: 500px;
}

.mapBg{
  position: absolute;
  background-color: #88bde8;
  top: 0;
  right: 0;
  width: 200px;
  height: 90%;
  border-radius: 20px;
}

.map{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 90%;
}

.map iframe{
  width: 100%;
  height: 100%;
}

.contactMethod{
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  text-align: left;
}

.method{
  display: flex;
  align-items: center;
}

.contactIcon{
  font-size: 2rem;
  color: black
  width: 70px;
}

@media screen and (min-width: 800px) {
  section {
    max-width: 1100px;
  }
  
  .contactForm{
    grid-template-columns: 1fr 1fr;
  }

  .contactMethod{
    flex-direction: row;
    justify-content: space-between;
    gap: 3em;
  }
}