/* Begin */

header {
    text-align: center;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.container-fluid {
    max-width: 100%;
    background-color: #54a49d;
    height: 47px;
}

.nav-link {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 14px 16px;
}

.nav-link:hover {
    background-color: #4e9e97;
}

#active {
    background-color: #69d6cd;
}

.navbar-nav {
    list-style-type: none;
    background-color: #206661;
    padding: 0;
    margin: 0;
}

.logo {
    background-color: #206661;
}

.nav-link {
    display: flex;
    justify-content: end;
}